configuration (  
        master_exec_path = "/usr/local/synopsys/icv_2018.06-SP1/icvalidator/O-2018.06-SP1/bin/LINUX.64/icv_master",
        slave_exec_path = "/usr/local/synopsys/icv_2018.06-SP1/icvalidator/O-2018.06-SP1/bin/LINUX.64/icv_slave",
        engine_exec_path = "/usr/local/synopsys/icv_2018.06-SP1/icvalidator/O-2018.06-SP1/bin/LINUX.64/icv_engine",
        working_directory = "/afs/asu.edu/users/j/n/e/jneuenda/425_proj/425_lab/drc",
        run_details_directory = "/afs/asu.edu/users/j/n/e/jneuenda/425_proj/425_lab/drc/run_details",
        group_directory = "/afs/asu.edu/users/j/n/e/jneuenda/425_proj/425_lab/drc/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { eecad3.eas.asu.edu, ""},
                 { eecad3.eas.asu.edu, ""},
                 }
);
